/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #d1f4ff, #c6e3ff, #a5ffd0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main login container */
.login-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Left section (Login form) */
.login-left {
    padding: 50px;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #4cc7db, #007dbb);
    color: white;
}

.login-left h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.login-left p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #e6f9ff;
}

/* Input box */
.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-box input, select {
    width: 100%;
    padding: 12px 50px;
    background: #f0f4f8;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
}

.input-box input,select:focus {
    outline: none;
    border: 1px solid #007dbb;
}

.extra-options {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute space between the two links */
    margin-bottom: 20px;
}

.extra-options a {
    color: #cfe9f1;
    text-decoration: none;
    font-size: 14px;
}

.extra-options a:hover {
    text-decoration: underline;
}

/* Login button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background: #218838;
}

/* Right section (Image/Illustration) */
.login-right {
    width: 50%;
    background: #f0f9ff;
    position: relative;
    overflow: hidden;
}

.login-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        width: 90%;
    }
    .login-left{
        width: 100%;
        padding: 40px 20px;
    }
    .login-right { 
        display: none;
    }
}
